---
import { getCollection, getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Project = CollectionEntry<'projects'>;

export async function getStaticPaths() {
  const postsResponse = await getCollection('projects');
  
  var paths = postsResponse.map((post: { slug: any; }) => ({
    params: { name: post.slug },
  }));

  return paths
}

const { name } = Astro.params;  
const project = (await getEntry('projects', name)).data;

import MainLayoutEn from "@layouts/MainLayoutEn.astro";

import Title from "@components/Title.astro";
import Tag from "@components/Tag.astro";

import placeholder from "@assetsLocal/placeholder.png";
---

<MainLayoutEn title={project.title}>
    <div class="flex flex-row justify-between items-stretch">
        <Title title={project.title}/>
        {project.link === "" ? (
            <span></span>
        ) : (
            <a href={project.link} target="_blank" class="px-4 py-2 rounded-xl bg-pink title border-2 border-dark flex items-center hover:bg-dark hover:text-pink h-max self-center">
                {project.linkTextEn}
            </a>
        )}
    </div>

    <p>
        {project.descriptionEn}
    </p>

    {project.imageDesc.length === 1 ? (
        <div class="w-full rounded-3xl relative mt-10">
            <Image
                src={`/projects/${name}/1.png`}
                alt={`Photo of ${project.imageDescEn[0]}`}
                width={500}
                height={500}
                class="w-full h-full object-cover rounded-3xl"
                loading='lazy'
            />
            <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                <h6>{project.imageDescEn[0]}</h6>
            </div>
        </div>
    ) : (
    
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 auto-rows-[200px] gap-4 mx-auto mt-10">

            <div class="md:col-span-3 md:row-span-2 rounded-3xl relative">
                <Image
                    src={`/projects/${name}/1.png`}
                    alt={`Photo of ${project.imageDescEn[0]}`}
                    width={500}
                    height={500}
                    class="w-full h-full object-cover rounded-3xl"
                    loading='lazy'
                />
                <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                    <h6>{project.imageDescEn[0]}</h6>
                </div>
            </div>  

            <div class="md:col-span-1 bg-orange rounded-3xl relative">
                <Image
                    src={`/projects/${name}/2.png`}
                    alt={`Photo of ${project.imageDescEn[1]}`}
                    width={500}
                    height={500}
                    class="w-full h-full object-cover rounded-3xl"
                    loading='lazy'
                />
                <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                    <h6>{project.imageDescEn[1]}</h6>
                </div>
            </div>

            <div class="md:col-span-2 rounded-3xl relative">
                <Image
                    src={`/projects/${name}/3.png`}
                    alt={`Photo of ${project.imageDescEn[2]}`}
                    width={500}
                    height={500}
                    class="w-full h-full object-cover rounded-3xl"
                    loading='lazy'
                />
                <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                    <h6>{project.imageDescEn[2]}</h6>
                </div>
            </div>

            <div class="md:col-span-2 rounded-3xl relative">
                <Image
                    src={`/projects/${name}/4.png`}
                    alt={`Photo of ${project.imageDescEn[3]}`}
                    width={500}
                    height={500}
                    class="w-full h-full object-cover rounded-3xl"
                    loading='lazy'
                />
                <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                    <h6>{project.imageDescEn[3]}</h6>
                </div>
            </div>

            {project.imageDesc.length === 5 ? (
                <div class="md:col-span-1 md:row-span-1 rounded-3xl relative">
                    <Image
                        src={`/projects/${name}/5.png`}
                        alt={`Photo of ${project.imageDescEn[4]}`}
                        width={500}
                        height={500}
                        class="w-full h-full object-cover rounded-3xl"
                        loading='lazy'
                    />
                    <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                        <h6>{project.imageDescEn[4]}</h6>
                    </div>
                </div>
            ) : (
                <div class="md:col-span-1 md:row-span-2 rounded-3xl relative">
                    <Image
                        src={`/projects/${name}/5.png`}
                        alt={`Photo of ${project.imageDescEn[4]}`}
                        width={500}
                        height={500}
                        class="w-full h-full object-cover rounded-3xl"
                        loading='lazy'
                    />
                    <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                        <h6>{project.imageDescEn[4]}</h6>
                    </div>
                </div>

                <div class="md:col-span-2 rounded-3xl relative">
                    <Image
                        src={`/projects/${name}/6.png`}
                        alt={`Photo of ${project.imageDescEn[5]}`}
                        width={500}
                        height={500}
                        class="w-full h-full object-cover rounded-3xl"
                        loading='lazy'
                    />
                    <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                        <h6>{project.imageDescEn[5]}</h6>
                    </div>
                </div>

                <div class="md:col-span-3  rounded-3xl relative">
                    <Image
                        src={`/projects/${name}/7.png`}
                        alt={`Photo of ${project.imageDescEn[6]}`}
                        width={500}
                        height={500}
                        class="w-full h-full object-cover rounded-3xl"
                        loading='lazy'
                    />
                    <div class="w-full bg-white/80 absolute bottom-0 rounded-b-3xl px-4 py-2">
                        <h6>{project.imageDescEn[6]}</h6>
                    </div>
                </div>
            )}

            
    </div>
    )}

</MainLayoutEn>