---
import MainLayout from "../layouts/MainLayout.astro"

import Title from "@components/Title.astro";
import Card from "@components/Card.astro";
import Edu from "@components/Edu.astro";
import SkillBar from "@components/SkillBar.astro";

import TitleImagePc from "@assetsLocal/title-image-pc.svg";
import TitleImageMb from "@assetsLocal/title-image-mb.svg";
import me from "@assetsLocal/me.svg";
import placeholder from "@assetsLocal/placeholder.png";
---

<MainLayout title="Domov">
	<div class="w-full py-10">
		<img src={TitleImagePc.src} alt="title illustration with my name" class="hidden md:block">
		<img src={TitleImageMb.src} alt="title illustration with my name" class="md:hidden">
	</div>

	<Title title="Projekty" subtitle="najnovšie" />
	<div class="grid grid-cols-4 gap-4 mt-4">
		<Card title="RBA" photo={placeholder.src} type="uxui"/>
		<Card type="fe"/>
		<Card type="graphic"/>
	</div>

	<div class="z-40 relative w-full max-w-full my-20">
		<div class="flex flex-col md:flex-row md:justify-between md:space-x-2 md:items-stretch mt-10">
			<div class="w-full md:w-[45%] self-center">
				<img src={me.src} alt="photo of me at competition Hack Kosice" class="w-full mx-auto">
			</div>
			<div class="w-full md:w-[45%] self-center mt-20 md:mt-0">
				<Title title="O mne"/>
				<div class="mt-2 text-dark">
					Mojou najväčšou záľubou je tvorenie. Vo voľnom čase navrhujem a vyrábam veci na 3D tlačiarni, od praktických vychytávok až po detailné dizajnové objekty. Pracujem aj s rezacím plotrom, kde si sama pripravujem návrhy a realizujem ich do fyzickej podoby – napríklad samolepky, obaly alebo drobné merchové produkty. Venujem sa aj základnému 3D modelovaniu a technickým riešeniam pomocou ESP32 a podobných mikrokontrolérov. <br/><br/>

					Posledné roky aktívne pôsobím ako inštruktorka 3D modelovania na <a href="https://lstme.sk/" target="_blank" aria-label="Navigates to LSTME website" class="no-underline text-orange hover:text-dark animated-underline font-semibold">LSTME</a> a zároveň sa podieľam na organizácii robotickej súťaže <a href="https://robotickybattle.sk/" target="_blank" aria-label="Navigates to RBA website" class="no-underline text-orange hover:text-dark animated-underline font-semibold">RBA</a>. Táto kombinácia kreativity, techniky a práce s ľuďmi ma naučila systematickosti, zodpovednosti a schopnosti dotiahnuť veci do konca. <br/><br/>

					Rada prepájam dizajn s funkčnosťou a nebojím sa kombinovať rôzne technológie – vždy ma zaujíma nielen ako vec vyzerá, ale aj ako funguje.
				</div>
			</div>
		</div>
		
		<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-20 w-full mx-auto">
			<div class="bg-beige border-2 border-dark rounded-3xl p-4 mt-4" id="skillsCard">
				<h2 class="">Skills</h2>

				<h4 class="text-lg m-0 mt-8">Grafika</h4>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
					<SkillBar title="Figma" value="80" />
					<SkillBar title="Canva" value="90" />
					<SkillBar title="Inkscape" value="80" />
					<SkillBar title="Adobe" value="70" />
					<SkillBar title="Gimp" value="50" />
					<SkillBar title="3D modelovanie a tlač" value="70" />
				</div>
				
				<h4 class="text-lg m-0 mt-8">Front-end, Back-end</h4>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
					<SkillBar title="C#" value="66" />
					<SkillBar title="Java" value="66" />
					<SkillBar title="HTML" value="80" />
					<SkillBar title="CSS" value="90" />
					<SkillBar title="TailwindCSS" value="71" />
					<SkillBar title="Astro" value="50" />
					<SkillBar title="JS" value="33" />
					<SkillBar title="SQL" value="33" />
					<SkillBar title=".NET" value="66" />
					<SkillBar title="C" value="33" />
					<SkillBar title="Python" value="33" />
					<SkillBar title="Git" value="70" />
					<SkillBar title="Linux" value="20" />
					<SkillBar title="Docker" value="5" />
					<SkillBar title="React" value="5" />
				</div>

				<h4 class="text-lg m-0 mt-8">Robotics</h4>
				<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">
					<SkillBar title="Arduino / ESP32" value="70" />
					<SkillBar title="NXT/EV3" value="100" />
					<SkillBar title="PCB" value="20" />
				</div>
			</div>
			
			<div class="bg-beige border-2 border-dark rounded-3xl p-4 mt-4" id="eduCard">
				<h2 class="">Vzdelanie</h2>
				
				<div class="flex flex-col space-y-4">
					<Edu title="Informatika, Ing." desc="2023 - 2025, FEI TU Košice" />
					<Edu title="Informatika, bc." desc="2020 - 2023, FEI TU Košice" />
					<Edu title="Technical Support Fundamentals" desc="2020, Google online course" />
					<Edu title="LSTME" desc="2016 - 2019, IT sústredenie" />
					<Edu title="Gymnázium" desc="2012 - 2020, Gymnázium Alejová 1, Košice" />
				</div>
			</div>
		</div>
	</div>

	<Title title="Projekty" subtitle="všetky" />
	<div class="grid grid-cols-4 gap-4 mt-4">
		<Card title="RBA" photo={placeholder.src} type="uxui"/>
		<Card type="fe"/>
		<Card type="graphic"/>
		<Card title="RBA" photo={placeholder.src} type="uxui"/>
		<Card type="fe"/>
		<Card type="graphic"/>
		<Card title="RBA" photo={placeholder.src} type="uxui"/>
		<Card type="fe"/>
		<Card type="graphic"/>
		<Card title="RBA" photo={placeholder.src} type="uxui"/>
		<Card type="fe"/>
		<Card type="graphic"/>
		<Card title="RBA" photo={placeholder.src} type="uxui"/>
		<Card type="fe"/>
		<Card type="graphic"/>
	</div>

</MainLayout>
