---

const {title, href, photo, type} = Astro.props;

var color;
if (type == "uxui") {
    color = "lime";
} else if (type == "fe") {
    color = "purple";
} else {
    color = "orange";
}

---

<div class={`bg-${color} border-2 border-dark rounded-3xl w-full h-auto flex flex-col`}>
    <img src={photo} alt="" class="w-full rounded-t-3xl">
    <div class={`w-full bg-dark p-2 rounded-b-2xl grid grid-cols-9 gap-2 text-${color}`}>
        <h4 class="col-span-7">{title}</h4>
        <a href={href} class="material-symbols-sharp h-min self-center col-span-2 mx-auto">
            arrow_forward
        </a>
    </div>
</div>